.green {
    color: #58A324;
}
.grey {
    color: #6F7072;
}

.bg-img {
    background: url('../img/bg_index.jpg') no-repeat top right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-space {
    min-height: 250px;
}

.video-item {
    background-color: #000;
    padding: 4px;
    -webkit-box-shadow: -1px -1px 8px #000;
    -moz-box-shadow: -1px -1px 8px #000;
    -o-box-shadow: -1px -1px 8px #000;
    box-shadow: -1px -1px 8px #000;
}